@font-face {font-family: "SnellRoundhandW01-Script";
    src: url("http://db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.eot");
    src: url("http://db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.svg#SnellRoundhandW01-Script") format("svg");
}
body {
  margin:0;
  padding:0;
  background-image:url("img/bg.png");
  color:black;
  font-family: 'Folk', sans-serif;
  text-align:left;
  min-width: 1000px;
  font-size:13;
}
#main {
  width:960px;
  margin:0 auto;
  background-image:url("img/grad.png");
}
#logo {
  height:300px;
  display:block;
  width:100%;
  text-align:center;
}
#content {
  float:left;
  width:640px;
  background-color:#444;
  display:inline-block;
}
#sidebar {
  float: right;
  width:280px;
  background-color:#444;
  display:block;
  padding:0 20;
}
.line {
  float:left;
}
#av {
  float: right;
  width:320px;
  display:block;
}
.stext {
  color:#e90;
  font-size:11;
}
.post {
  background-color:#171717;
  margin:10;
  padding:10;
  color:#888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.reblog {
  text-align:center;
}
.infobar {
  font-size:11;
  padding:5 10;
  margin-top:5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:#444;
}
.pic {
  display:block;
  margin: 0 auto 10;
}
.aud {
  display:block;
}
.link {
}
.quote {
  font-family: "SnellRoundhandW01-Script", cursive;
  font-size: 72;
  text-align: right;
  margin:0;
  float:left;
  text-transform: lowercase;
}
.quoted {
  font-size:24;
  clear:left;
}
a {
  text-decoration: none;
  color:#888;
}
.nolink:hover {
  text-decoration: none;
  color:#888;
}
a:hover {
  text-decoration: underline;
  color:#888;
}
#footer {
  color:white;
  font-variant: small-caps;
  margin:20px;
  display:block;
}